.task {
    border: 1px solid grey;
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.task__wrapper {
    display: flex;
    align-items: center;
}
