<div class="task" [routerLink]="['/task', task.id, task.todoListId]" >
    <div class="task__wrapper">
        <input type="checkbox"
               [checked]="task.status === 2"
               (click)="changeTaskStatus($event)"
        >
        <app-editable-span [title]="task.title"
                           [editTitleMode]="editTitleMode"
                           (changeEditTitleMode)="changeEditTitleMode($event)"
                           (changeTitle)="changeTaskTitle($event)"
        >
        </app-editable-span>
    </div>
    <button (click)="deleteHandler(task.id)">x</button>
</div>
