<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
        <label>
            safronmanbox@mail.ru
            <input
                [ngClass]="{
                'input-error': loginForm.get('email').touched && loginForm.get('email').invalid,
                'input-success': loginForm.get('email').valid
                 }"
                type="text"
                formControlName="email">
        </label>
    </div>
    <div *ngIf="loginForm.get('email').invalid &&  loginForm.get('email').touched">
        <p *ngIf="loginForm.get('email').errors['required']" class="error-message">Email mustn't be empty</p>
        <p *ngIf="loginForm.get('email').errors['pattern']" class="error-message">Enter a valid email</p>
    </div>

    <div>
        <label>
            Password
            <input
                [ngClass]="{
                'input-error': loginForm.get('password').touched && loginForm.get('password').invalid,
                'input-success': loginForm.get('password').valid
                }"
                type="text" formControlName="password">
        </label>
    </div>
    <div *ngIf="loginForm.get('password').invalid &&  loginForm.get('password').touched">
        <p *ngIf="loginForm.get('password').errors['required']" class="error-message">Password mustn't be empty</p>
        <p *ngIf="loginForm.get('password').errors['minlength']" class="error-message">Password must be min 5
            symbols</p>
    </div>

    <button type="submit" [disabled]="!loginForm.valid">Submit</button>

</form>
