<div class="menu">
    <ul class="menu__list">
        <li>
            <a class="menu__link"
               routerLink="/"
               routerLinkActive="menu__active"
               [routerLinkActiveOptions]="{exact: true}"
            >home</a>
        </li>
        <li>
            <a class="menu__link"
               routerLink="/login"
               routerLinkActive="menu__active"
            >login</a>
        </li>
    </ul>
    <button (click)="logoutHandler()">logout</button>
</div>
