.menu {
    border: 2px solid black;
    padding: 10px;
    list-style: none;
    display: flex;
    background-color: lightblue;
    align-items: center;
    justify-content: space-around;
}

.menu__list {
    list-style: none;
    display: flex;
}

.menu__link {
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-right: 10px;
}

.menu__active {
    font-weight: bold;
    color: red;
}

